@charset "UTF-8";
/* Variables Footer */
body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f2f2f2;
}

.color-nav {
  background-color: rgb(255, 100, 0) !important;
}

.navbar-light .navbar-toggler {
  color: rgb(255, 153, 0);
  border-color: black;
  background-color: #f2f2f2;
}

.color-nav {
  background-color: #fff; /* Fondo blanco */
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}

/* Estilos iniciales para la barra de navegación */
.navbar {
  position: fixed; /* La barra de navegación estará fija en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease; /* Transición suave para cambios en la posición vertical */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-left: 11%;
}
.navbar-nav .nav-item {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}
.navbar-nav .nav-item .nav-link {
  color: #000; /* Color de enlace normal */
  text-decoration: none;
  transition: color 0.3s ease; /* Transición suave para cambios de color */
}
.navbar-nav .nav-item .nav-link:hover {
  color: #1a1a1a; /* Cambia el color al pasar el cursor */
  transform: scale(1.1); /* Aplica la animación de zoom */
}

/* Estilos para la barra de navegación al hacer hover */
.color-nav:hover {
  background-color: #1a1a1a; /* Cambia el color de fondo al hacer hover */
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}

/* ESTILOS PARA EL CARRITO */
#cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  margin-right: 5px;
  font-size: 20px;
}

#cart-total {
  font-size: 16px;
}

/* CREAR CUENTA E INICIAR SESION */
#loginBox {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  margin-top: 100px;
  text-align: center;
}

input, button {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.hidden {
  display: none;
}

.custom-button {
  width: 5rem; /* Ajusta el ancho según tus necesidades */
}

#signupBox {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  margin-top: 100px;
  text-align: center;
}

#signupSubmit {
  padding: 0;
  font-size: 18px;
  background-color: #007bff; /* Cambia el color de fondo según tus preferencias */
  color: #fff;
  width: 100%; /* Ancho del botón al 100% del contenedor */
}

@media (max-width: 768px) {
  #responsiveMenu {
    min-height: 750vh;
  }
}
#carouselExampleCaptions {
  border: 2px solid orange;
  width: 50%;
  height: auto;
  margin: auto;
  padding: auto;
  overflow: hidden;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  #carouselExampleCaptions {
    border: 2px solid orange;
    width: 50%;
    height: auto;
    margin: auto;
    padding: auto;
    overflow: hidden;
    margin-bottom: 5%;
  }
}
#carouselExampleCaptions .carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#carouselExampleCaptions .color-titulo {
  background-color: rgb(255, 100, 0) !important;
}
#carouselExampleCaptions .carousel-indicators,
#carouselExampleCaptions .carousel-control-prev,
#carouselExampleCaptions .carousel-control-next {
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
  #carouselExampleCaptions {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .largo-seccion-cards {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .largo-seccion-cards {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .largo-seccion-cards {
    height: auto;
  }
}
@media (min-width: 1024px) {
  .largo-seccion-cards {
    height: auto;
  }
}
@media (max-width: 768px) {
  table {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  table {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  table {
    font-size: 14px;
  }
}
#contacto {
  padding: 3rem;
  margin-bottom: 6rem;
}
#contacto .custom-contact-container {
  margin: 0 auto;
}
@media (max-width: 1024px) {
  #contacto .custom-contact-container {
    max-width: 80%;
    padding: 1rem;
    margin-top: 5rem;
  }
}
@media (max-width: 768px) {
  #contacto .custom-contact-container {
    padding: 0.5rem;
  }
}
@media (max-width: 320px) {
  #contacto .custom-contact-container {
    padding: 0.25rem;
  }
}

.bg-image {
  background-image: url("./ImagesCss/tarjetalegion.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  font-family: 'Lucida Sans, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif';
}
@media (max-width: 1024px) {
  .bg-image {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .bg-image {
    height: 40vh;
  }
}
@media (max-width: 320px) {
  .bg-image {
    height: 30vh;
  }
}
.bg-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 100, 0);
  text-align: center;
}
.text-container .title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .text-container .title {
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .text-container .title {
    font-size: 1.5rem;
  }
}
.text-container .subtitle {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .text-container .subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .text-container .subtitle {
    font-size: 0.8rem;
  }
}

/* FOOTER */
.custom-footer {
  background-color: #333;
  color: orange;
  text-align: center;
  padding: 30px 0;
}
.custom-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-footer .container .logo-container {
  margin-bottom: 20px;
}
.custom-footer .container .logo-container .logo {
  max-width: 50px;
  height: auto;
}
.custom-footer .container .links-container {
  text-align: center;
}
.custom-footer .container .links-container .title-footer {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}
.custom-footer .container .links-container .link-list {
  list-style: none;
  padding: 0;
}
.custom-footer .container .links-container .link-list li {
  margin-bottom: 5px;
}
.custom-footer .container .links-container .link-list li .link {
  text-decoration: none;
  color: #ff6600;
}
.custom-footer .container .links-container .link-list li .link:hover {
  text-decoration: underline;
}
.custom-footer .container .links-container .link-list li .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
}
.custom-footer .container .links-container .link-list li .dropdown-menu .dropdown-item {
  color: orange;
  padding: 8px 12px;
  display: block;
}
.custom-footer .container .links-container .link-list li .dropdown-menu .dropdown-item:hover {
  background-color: #555;
  color: #fff;
}
.custom-footer .container .links-container .link-list li:hover .dropdown-menu {
  display: block;
}
.custom-footer .container .copy-container {
  margin-top: auto;
  margin-bottom: 10px;
}
.custom-footer .container .copy {
  font-size: 14px;
  margin: 0;
}

.text-orange {
  color: #ff6600 !important;
}

.card {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 3rem;
  color: rgb(255, 100, 0); /* Cambié a la variable secondary-color */
}

@media (max-width: 767px) {
  .card {
    margin: 10px auto;
  }
}
/* CONTACTO */
#contacto {
  margin-top: 3%;
}

.custom-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: Arial, sans-serif; /* Usando la variable font-family */
  color: #f2f2f2; /* Usando la variable text-color */
}

.custom-contact-form {
  max-width: 400px;
  width: 100%;
  padding: 15px;
  border: 1px solid black; /* Usando la variable border-color */
  border-radius: 5px;
  background-color: rgb(255, 100, 0); /* Usando la variable secondary-color */
}

.custom-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif; /* Usando la variable font-family */
}

/* Estilos generales para la sección de contacto */
#contacto {
  padding: 3rem; /* Añade espacio alrededor del contenido */
  margin-bottom: 6rem;
}

.custom-contact-container {
  margin: 0 auto; /* Centra el contenedor */
}

/*# sourceMappingURL=contacto.css.map */
