// Configuración global
@import"./modules/variables";
@import"./modules/body.scss";
@import"./modules/color-header";
@import"./modules/condicionales";
@import"./modules/footer";
@import"./modules/bucle";


.tituloAgenda {
  text-align: center;
  background-color: black;
  color: $primary-color;
}

/* Estilos para los contenedores de los elementos de selección */
.select-container {
  display: inline-block;
  margin-right: 20px; /* Espacio entre los elementos */
}

/* Estilos para las etiquetas de selección */
label {
  font-weight: bold;
}

/* Estilos para los selectores */
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la tabla y sus elementos */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

th {
  background-color: $tertiary-color;
}

td {
  cursor: pointer;
}

td[data-dia] {
  background-color: rgba($primary-color, 0.712);
}

td[data-dia]:hover {
  background-color: $secondary-color;
}

// TABLA
.table td[data-dia]::before {
  content: attr(data-hora);
  display: block;
}
/* Añade un nuevo estilo para las casillas seleccionadas */
td.selected {
  background-color: rgba(0, 0, 0, 0.712); /* Color oscuro similar al hover */
  color: white;
}


// BOTONES
.buttons {
  text-align: center;
  margin-top: 20px;
}

.btn-agendar,
.btn-reset {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn-agendar:disabled,
.btn-reset:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Añade estilos para indicar que los campos son obligatorios */
.select-container,
.table {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.required-field-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
