// Configuración global
@import"./modules/variables";
@import"./modules/body.scss";
@import"./modules/color-header";

.tituloAgenda {
  text-align: center;
  background-color: black;
  color: $primary-color;
}

/* Estilos para los contenedores de los elementos de selección */
.select-container {
  display: inline-block;
  margin-right: 20px; /* Espacio entre los elementos */
}

/* Estilos para las etiquetas de selección */
label {
  font-weight: bold;
}

/* Estilos para los selectores */
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la tabla y sus elementos */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: $tertiary-color;
}

td {
  cursor: pointer;
}

td[data-dia] {
  background-color: rgba($primary-color, 0.712);
}

td[data-dia]:hover {
  background-color: $secondary-color;
}

/* table */
/* Personaliza el estilo si es necesario */
.table td[data-dia]::before {
  content: attr(data-hora);
  display: block;
}

@import"./modules/footer"
