@import"./modules/variables";
@import"./modules/condicionales";
@import"./modules/body.scss";
@import"./modules/color-header";
@import"./modules/footer";
@import"./modules/mixing";

// Estilos para la clase custom-row
.custom-row {
  height: auto;
}

// Estilos para imágenes fluidas
.img-fluid {
  width: 50vw;
  height: auto;
}

// Estilos para tarjetas
.largo-seccion-cards{
  margin-top: 4%;
}
.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $background-color;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 20px; /* Agrega margen inferior a las tarjetas */

  .card-title {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: $primary-color;
  }

  .card-text {
    color: $text-color;
  }
}
// Estilos para botón primario
.btn-primary {
  @include custom-primary-button;
}

// Estilos para el acordeón
.accordion {
  padding: 5%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 70%;
  margin: 0 auto;

  .accordion-button {
    background-color: #ff6600;
    color: #fff;

    &:focus {
      box-shadow: none;
    }

    .accordion-title {
      color: #000;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .accordion-body {
    color: #000;
  }
}

// Estilos para el carrousel achicado de largo, con borde naranja y centrado
#carouselExampleCaptions {
  border: 2px solid $carousel-border-color;
  width: 50%;
  height: auto;
  margin: auto;
  padding: auto;
  overflow: hidden;
  margin-bottom: 5%;
  

  .carousel-inner {
      img {
          object-fit: cover;
          width: 100%;
          height: 100%;
      }
  }
  .color-titulo{
    background-color: $secondary-color !important;
  }

  .carousel-indicators, .carousel-control-prev, .carousel-control-next {
      margin-bottom: 10px;
  }
}

