@import"./modules/variables";
@import"./modules/body.scss";
@import"./modules/color-header";
@import"./modules/condicionales";
@import"./modules/footer";

/* Estilos para la imagen de fondo */
.bg-image {
  background-image: url('./ImagesCss/tarjetalegion.png'); /* Cambia la ruta por la URL de tu imagen */
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  font-family: $lucida-font;
}

/* Filtro negro transparente */
.bg-overlay {
  background-color: $background-overlay-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Estilos para el texto */
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $secondary-color;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
}

/* Pseudo-clase para la imagen de fondo con opacidad */
.bg-image:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-overlay-color-opaco;
  pointer-events: none;
}
.card {
  transition: transform 0.3s ease; /* Agrega una transición suave en la propiedad de transformación */
  
  &:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% al pasar el cursor sobre la tarjeta */
  }
  margin-top: 20px;
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow: hidden;
  margin: 10%;

}

.map-iframe {
  width: 100%;
  height: 300px; /* Ajusta la altura del mapa */
  border: 2px solid black;
  
}

.address {
  padding: 20px;
  text-align: center;
}

