.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: $tertiary-color;
  font-weight: bold;
  font-size: large;
}

.color-nav {
  background-color: $secondary-color !important;
}

.navbar-light .navbar-toggler {
  color: $primary-color;
  border-color: $border-color;
  background-color: $tertiary-color;
  margin-right: 100rem;
}

// ANIMACION BARRA MENU
.color-nav {
  background-color: #fff; /* Fondo blanco */
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}
.me-auto {
  margin-right: 10rem!important;
}

/* Estilos iniciales para la barra de navegación */
.navbar {
  position: fixed; /* La barra de navegación estará fija en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease; /* Transición suave para cambios en la posición vertical */
  z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
}


.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;

  .nav-item {
    list-style: none;
    margin: 0;
    padding: 0 20px;

    .nav-link {
      color: #000; /* Color de enlace normal */
      text-decoration: none;
      transition: color 0.3s ease; /* Transición suave para cambios de color */

      &:hover {
        color: #1a1a1a; /* Cambia el color al pasar el cursor */
        transform: scale(1.1); /* Aplica la animación de zoom */
      }
    }
  }
}

/* Estilos para la barra de navegación al hacer hover */

.color-nav:hover {
  background-color: #1a1a1a; /* Cambia el color de fondo al hacer hover */
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}

/* ESTILOS PARA EL CARRITO */
#cart {
  display: flex;
  align-items: center;
}

.cart-icon {
  margin-right: 5px;
  font-size: 20px;
}

#cart-total {
  font-size: 16px;
}

/* CREAR CUENTA E INICIAR SESION */
#loginBox {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  margin-top: 100px;
  text-align: center;
}

input, button {
  display: block;
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.hidden {
  display: none;
}
.custom-button {
  width: 5rem; /* Ajusta el ancho según tus necesidades */
}

#signupBox {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  margin-top: 100px;
  text-align: center;
}

#signupSubmit {
  padding: 0;
  font-size: 18px;
  background-color: #007bff; /* Cambia el color de fondo según tus preferencias */
  color: #fff;
  width: 100%; /* Ancho del botón al 100% del contenedor */
}