/* FOOTER */
.text-orange {
  color: $footer-text-color;
}

.img-fluid-logo {
  width: 10vw;
  height: 23vh;
}

.img-logo {
  max-width: 40%;
  height: auto;
}

.list-unstyled li a {
  text-decoration: none;
}