// VARIABLE VARIOS
$vh: 100vh;

/* Variables Footer */
$footer-bg-color: #333;
$footer-text-color: #fff;
$footer-link-color: #ff6600;
$footer-dropdown-bg-color: #444;
$footer-dropdown-item-hover-bg-color: #555;
$footer-dropdown-item-hover-color: #fff;


// VARIABLES COLORES
$primary-color: rgb(255, 153, 0);
$secondary-color: rgb(255, 100, 0);
$tertiary-color: #f2f2f2;
$border-color: black;
$background-color: #fff;
$text-color: #f2f2f2;
$carousel-border-color: orange;
$footer-text-color: orange;
$carousel-nav-opacity: 0.5;
$background-overlay-color: rgba(0, 0, 0, 0.5);
$background-overlay-color-opaco: rgba(0, 0, 0, 0.8);
$white-color: white;

// VARIABLES FUENTES
$font-family: Arial, sans-serif;
$cambria-font: 'Cambria, Cochin, Georgia, Times, "Times New Roman", serif';
$lucida-font: 'Lucida Sans, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif';